<section class="section-awards py-md-10 py-lg-11" ng-controller="featureBlockController" ng-style="{
          'background-color': '#' + selectedBackground[block.data.backgroundColor],
          '--has-bright-contrast': block.data.contrast.value === 'ffffff' ? 'white' : ''
         }" ng-attr-nobackgroundcolor="{{block.data.backgroundColor === '' || undefined}}" ng-attr-bright-contrast="{{block.data.contrast.value === 'ffffff' || undefined}}" ng-click="block.edit()" ng-focus="block.focus">
    <style ng-bind="styles"></style>
    <div class="license-message" ng-if="!licenseIsValid">
        <div class="license-block">
            <div class="img-holder">
                <img src="/App_Plugins/UmbracoBlockGrid/GlobalDesign/img/icon-calendar.svg" alt="...">
            </div>
            <div ng-bind-html="message | safe_html" class="content-holder"></div>
        </div>
    </div>
    <div class="container">
        <h2 class="h2 mb-5" ng-class="{
            'text-end': block.data.headlineAlignment === 'Right',
            'text-start': block.data.headlineAlignment === 'Left',
            'text-center': !block.data.headlineAlignment || block.data.headlineAlignment === 'Center'
        }">
            {{block.data.headline}}
        </h2>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6 mb-3 text-center" ng-repeat="element in block.data.awardElements.contentData">
                <div class="awards-item">
                    {{mediaItem = (element.image[0].mediaKey | mediaItemResolver); ""}}
                    <div class="img-holder mb-4" ng-if="mediaItem !== null">
                        <img ng-src="{{mediaItem.mediaLink}}?rmode=min&width=200" alt="{{mediaItem.name}}">
                    </div>
                    <h3 class="h5 mb-0">{{element.description}}</h3>
                </div>
            </div>
        </div>
    </div>
</section>