<style>
    .breadcrumb a {
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
    }

    .breadcrumb .fw-semibold {
        font-weight: 600;
    }

    [bright-contrast] .breadcrumb a:not([href]):not([class]),
    [bright-contrast] .breadcrumb a:not([href]):not([class]):hover {
        color: white;
    }

    [bright-contrast] .breadcrumb-item.active,
    [bright-contrast] .breadcrumb-item::before,
    [bright-contrast] .breadcrumb-item+.breadcrumb-item::before {
        color: white;
    }

    [bright-contrast] .breadcrumb-item a,
    [bright-contrast] .breadcrumb-item a:hover {
        color: white;
    }

    [bright-contrast] .breadcrumb .breadcrumb-item.active,
    [bright-contrast] .breadcrumb .breadcrumb-item::before,
    [bright-contrast] .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
        color: white;
    }

    .breadcrumb .breadcrumb-item {
        line-height: 20px;
    }

    .breadcrumb svg {
        margin-top: -4px;
    }
</style>
<div data-bs-theme="light">
    <div ng-controller="breadcrumbBlockController" ng-click="block.edit()" ng-focus="block.focus">
        <style ng-bind="styles"></style>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-chevron p-3 rounded-3" 
                ng-class="{'justify-content-end': block.data.horizontalAlignment === 'Right', 'justify-content-center': block.data.horizontalAlignment === 'Center'}"
                ng-style="{'background-color': '#' + selectedBackground[block.data.backgroundColor]}" 
                ng-attr-nobackgroundcolor="{{block.data.backgroundColor === '' || undefined}}" 
                ng-attr-bright-contrast="{{block.data.contrast.value === 'ffffff' || undefined}}">
                <li class="breadcrumb-item" ng-repeat="ancestor in ancestors" ng-class="{ 'first-ancestor': $first }">
                    <a ng-if="$first" class="ng-scope">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                        </svg>
                    </a>
                    <a ng-if="!$first" class="fw-semibold text-decoration-none">{{ancestor.name}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{currentDocument.variants[0].name}}</li>
            </ol>
        </nav>
    </div>
</div>