<section class="pt-5 pb-5" ng-controller="caseStudy2CardBlockController" ng-style="{'background-color': '#' + selectedBackground[block.data.backgroundColor]}">
    <div class="container">
        <div class="card-case style-2 position-relative" ng-class="{'card-reverse': block.data.flipHorizontally == 1}" ng-attr-nobackgroundcolor="{{block.data.backgroundColor === '' || undefined}}" ng-attr-bright-contrast="{{block.data.contrast.value === 'ffffff' || undefined}}" ng-click="block.edit()" ng-focus="block.focus">
            <style ng-include="'/App_Plugins/UmbracoBlockGrid/BlockViews/css/design.css'"></style>
            <div class="license-message" ng-if="!licenseIsValid" ng-click="block.edit()">
                <div class="license-block">
                    <div class="img-holder">
                        <img src="/App_Plugins/UmbracoBlockGrid/GlobalDesign/img/icon-calendar.svg" alt="...">
                    </div>
                    <div ng-bind-html="message | safe_html" class="content-holder"></div>
                </div>
            </div>
            {{mediaItem = (block.data.image[0].mediaKey | mediaItemResolver); ""}}
            <div class="row gx-0">
                <div class="col-lg-7">
                    <div class="img-holder mb-4 mb-lg-0" ng-if="mediaItem !== null">
                        <img ng-src="{{mediaItem.mediaLink}}?rmode=min&width=850">
                    </div>
                </div>
                <div class="col-lg-5 d-md-flex flex-md-row flex-lg-column align-items-md-start">
                    <div class="content-holder">
                        <h3 class="h3 card-title">{{block.data.projectName}}</h3>
                        <div class="text-holder lead-sm" ng-bind-html="block.data.projectDescription.markup | safe_html"></div>
                        <ul class="list-unstyled">
                            <li ng-repeat="tag in block.data.tags" ng-style="{'background-color': '#' + selectedBackground[block.data.tagBackgroundColor]}">{{tag}}</li>
                        </ul>
                    </div>
                    <a class="btn" ng-class="{
                            'btn-primary': block.data.variant === 'Primary' || block.data.variant === '' || block.data.variant === undefined,
                            'btn-outline-primary': block.data.variant === 'Secondary'
                        }" role="button" ng-if="block.data.link[0].name">{{block.data.link[0].name}}</a>
                </div>
            </div>
        </div>
    </div>
</section>